/*Technical Info Bolt X*/
.technical_info .info_area .tab ul.nand_tab li{width:32.6%}
/*Download Center*/
.support_download .text_area span.text{margin-bottom:15px}
.support_download .text_area span.text2{line-height:1.7em;margin-top:0}
.support_download .text_area span.text2 span{margin-bottom:5px}
/*추가팝업*/
.support_download .info_popup .k_link{top:53.6%}
.support_download .info_popup .j_link{top:61.4%}
/*Support Warranty*/
.support_warranty .section03{height:430px}
/*Header 수정*/
header.desktop h1{line-height:50px}
@media all and (max-width:1250px) {
    .support_download .text_area span.text{margin-bottom:10px}
}
@media all and (max-width:1205px) {
    /*Download Center*/
    .support_download .text_area span.text{padding-top:43px}
    .support_download .text_area span.text2{margin-top:0}
}
@media(max-width:1120px) {
    /*Main*/
    .main_page .banner_area .slogan{width:86%}
    /*Download Center*/
    .support_download .text_area{padding-top:97px}
}
@media all and (max-width:960px) {
    /*Download Center*/
    .support_download .text_area span.text{margin-bottom:9px}
}
@media all and (max-width:790px) {
   
    /*Download Center*/
    .support_download a.link_btn{margin:0 10px 5px 0}
}
@media all and (max-width:768px) {
     /*Main*/
    .main_page .banner_area .slogan{width:100%}
    /*Download Center*/
    .support_download .text_area{padding-top:0}
    .support_download .text_area span.text{padding-top:32px;margin-bottom:0}
    .support_download a.link_btn{padding:16px 5px}
    .support_download .text_area span.text2{line-height:1.5em}
    /*Support Warranty*/
    .support_warranty .section03{height:888px}
}
@media all and (max-width:640px) {
    /*Download Center*/
    .support_download .text_area span.text{margin-bottom:0;padding:30px 33px 10px 27px}
    /*Support Warranty*/
    .support_warranty .section03{height:738px}
}
@media all and (max-width:550px) {
    /*Main*/
    .main_page .banner_area .slogan h2{letter-spacing:-2px}
    /*Download Center*/
    .support_download .text_area span.text{margin-bottom:0;padding:20px 33px 10px 27px}
    .support_download a.link_btn{margin:0 10px 5px 0}
    /*Support Warranty*/
    .support_warranty .section03{height:668px}
}
@media all and (max-width:460px) {
    /*Download Center*/
    .support_download a.link_btn{padding:13px 5px}
    .support_download .text_area span.text{padding:26px 33px 10px 27px}
}
@media all and (max-width:414px) {
   /*Download Center*/
    .support_download a.link_btn{padding:12px 5px}
    .support_download .text_area span.text{padding:20px 33px 20px 15px}
    /*Support Warranty*/
    .support_warranty .section03{height:470px}
}
@media all and (max-width:375px) {
    .support_download .text_area span.text{padding:20px 33px 10px 10px}
    .support_download a.link_btn{width:46%;margin:0 5px 5px 0}
    .support_download .text_area span.text2{margin-top:10px}
    .support_download a.big_btn{width:92%}
    /*Support Warranty*/
    .support_warranty .section03{height:425px}

}
@media all and (max-width:360px) {
    /*Download Center*/
    .support_download a.big_btn{width:96%}
}
